In [1]:
import pandas as pd

Pandas Series is like a column in a table, but with labels (index) attached to each row.

0    10

1    20

2    30

dtype: int64

# Panda Ser

## How do we turn a Python list into a Series?

In [4]:
lst = [1,2,3,4,5,6]
series = pd.Series(lst)
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

## How do I check what type this object is?

In [5]:
print(type(series))

<class 'pandas.core.series.Series'>

## Can I make a Series with nothing in it?

In [6]:
empty = pd.Series([])
print(empty)

Series([], dtype: object)

## How do I label my Series instead of using 0,1,2...?

In [7]:
a = pd.Series(['p', 'q', 'r', 's', 't'], index=[10,11,12,13,14])
print(a)

10    p
11    q
12    r
13    s
14    t
dtype: object

##  How can I name the entire Series?

In [8]:
b = pd.Series(['p','q','r','s','t'], index=[10,11,12,13,14], name='alphabets')
print(b)

10    p
11    q
12    r
13    s
14    t
Name: alphabets, dtype: object

## How do I create a Series with just one value and let pandas assign the default index?

In [19]:
scalar_series = pd.Series(0.5)
print(scalar_series)

0    0.5
dtype: float64

## Can I make a Series where one value is repeated?

In [9]:
scalar_series = pd.Series(0.5, index=[1,2,3])
print(scalar_series)

1    0.5
2    0.5
3    0.5
dtype: float64

# Pandas Series with Python Dictionary

## How do I convert a dictionary into a Series?
Keys become indexes

Values become Series values

In [10]:
dict_series = pd.Series({'p':1, 'q':2, 'r':3, 's':4, 't':5})
print(dict_series)

p    1
q    2
r    3
s    4
t    5
dtype: int64

## How do I get the first value?

In [15]:
dict_series.iloc[0]

1

## How do I get the value of index 's'?

In [16]:
dict_series['s']

4

## How do I slice the first three values?

In [13]:
dict_series[0:3]

p    1
q    2
r    3
dtype: int64

## How can I find the maximum value in a Series?

In [17]:
max(dict_series)

5

## Can I store a list as a value in a Series?

In [18]:
dict_series = pd.Series({
    'p': [1,5,6],
    'q': [2,6,7],
    'r': [3,9,0],
    's': [4,4,5],
    't': [5,1,2]
})
print(dict_series)

p    [1, 5, 6]
q    [2, 6, 7]
r    [3, 9, 0]
s    [4, 4, 5]
t    [5, 1, 2]
dtype: object